/* Common Utilities */
:root {
    --primary-text-color: #3A3A3A;
    --primary-btn-color: #E02C6D;
    --secondary-text-color: #18191F;
    --card-text-secondary-color: #787885;
}

body {
    font-family: 'Poppins', sans-serif;
}

/*
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
*/

.container {
    padding: 0 120px;
}

.customized-btn {
    background-color: var(--primary-btn-color);
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 24px;
    display: inline-block;
}

.btn-rounded {
    border-radius: 41px;
}

/* Banner Styles */
.banner {
    display: flex;
    overflow: hidden;
}

.banner:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.banner-des {
    max-width: 582px;
}

.banner-des h1 {
    font-weight: 700;
    font-size: 52px;
    line-height: 70px;
    color: var(--primary-text-color);
    margin-bottom: 0;
}

.banner-des p {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--primary-text-color);
}

.banner-img {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.banner-img:hover {
    transform: rotate(360deg);
    transition: 0.7s;
}

/* Logos section */

.logo-container {
    padding: 35px 0;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, white, rgb(224, 222, 222), white);
}

/* Popular Collections */
.popular-collections-container {
    display: flex;
    justify-content: center;
}

.product-collections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.popular-collections {
    margin-top: 100px;
    max-width: 1050px;
}

.card {
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 2px lightgray;
}

.collections-header {
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    line-height: 70px;
    color: var(--primary-text-color);
}

.card-img img {
    max-width: 300px;
    height: 256px;
}

.card-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    color: var(--secondary-text-color);
    margin-top: 16px;
    margin-bottom: 6px;
}

.price {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    margin-top: 0px;
    margin-bottom: 10px;
}

.rating {
    color: #FB8200;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.rating p {
    margin: 0;
    margin-left: 5px;
    color: var(--card-text-secondary-color)
}


.extra-info {
    margin-top: 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.018em;
    color: var(--card-text-secondary-color)
}

.see-more {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.see-more a {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: var(--primary-btn-color);
}

/* Feature Products */
.feature-products {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 100px 0px;
}

.feature-products .feature-des {
    max-width: 610px;
}

.feature-des h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 0px;
    color: #0A0826;
}

.feature-des p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #6C6C6C;
}

/* Media Queries */

@media only screen and (max-width: 680px) {
    .container {
        padding: 0;
    }

    .banner:hover {
        transform: none;
    }

    .banner {
        flex-direction: column;
        width: 100%;
    }

    .banner-des h1 {
        font-size: 2em;
    }

    .banner-img {
        width: 100%;
        justify-content: center;
    }

    .banner-img img {
        width: 95%;
    }

    .product-collections {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }

    .feature-products {
        flex-direction: column;
        width: 100%;
    }

    .feature-products .feature-img,
    .feature-img img {
        width: 100%;
    }

    .feature-des h2 {
        font-size: 1.25rem;
    }
}