/* Common Utilities */
:root {
    --primary-text-color: #3A3A3A;
    --primary-btn-color: #E02C6D;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.container {
    padding: 0 120px;
}

.customized-btn {
    background-color: var(--primary-btn-color);
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 24px;
    display: inline-block;
}

.btn-rounded {
    border-radius: 41px;
}

/* Banner Styles */
.banner {
    display: flex;
    overflow: hidden;
}

.banner:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.banner-des {
    max-width: 582px;
}

.banner-des h1 {
    font-weight: 700;
    font-size: 52px;
    line-height: 70px;
    color: var(--primary-text-color);
    margin-bottom: 0;
}

.banner-des p {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--primary-text-color);
}

.banner-img {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.banner-img:hover {
    transform: rotate(360deg);
    transition: 0.7s;
}

/* Logos section */

.logo-container {
    padding: 35px 0;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, white, rgb(224, 222, 222), white);
}


/* Media Queries */

@media only screen and (max-width: 680px) {
    .container {
        padding: 0;
    }

    .banner:hover {
        transform: none;
    }

    .banner {
        flex-direction: column;
        width: 100%;
    }

    .banner-des h1 {
        font-size: 2em;
    }

    .banner-img {
        width: 100%;
        justify-content: center;
    }

    .banner-img img {
        width: 95%;
    }
}